.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}
a.btn-primary {color:#fff; font-weight:bold;}
.date-nav {margin-bottom:20px;}
.container { max-width: 100% !important; }
div.container a.navbar-brand > img {
    display: inline;
    margin-right: 4px;
    margin-top: -2px;
}
.clear{ clear: both; }
.dropdown-filter {float:right;margin-right:10px;}
.report-time-scope{float:left;}
.search.dropdown-filter{margin-right:0;}
.form-inline .form-control.search-box{width:100px;margin-right:10px;}
.table tr:nth-child(odd) td{background:#eee;}
.table td, .table th{border:1px solid #ccc;}

.nav{background:#e3f2fd;}
.nav-item > .active {color:#fff; background: #276b86;}
.nav-item > a{border-right: 1px solid #ccc; font-weight:bold;}
.nav-tabs a{font-weight:normal;}
.nav-item .dropdown-menu > li:hover {background:#eee;}
.nav-item .dropdown-menu > li > a {padding: 3px 10px; }

header {background:#0e1b2a; padding:5px 10px;}
header, header a {color: #fff;}
.logo{float:left;}
.user {float:right;}

.left{float:left !important;}
.right{float:right !important;}
td.yHighlight, tr.xHighlight > td{background:#007bff1a !important;}
.status {font-weight:bold;color:red;}
.status.AA {color:green;}
.status.AI {color:#ff9900;}
.status.UI{color:#ff9900;}
.status.UA{color:#118ed8;}
.warn{background:red;color:#fff;}